
@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@400..700&family=Inter:wght@100..900&family=Poppins:wght@100..900&family=Raleway:wght@100..900&display=swap');

@font-face {
  font-family: 'Arsenica';
  src: url('/FONTS/Arsenica.woff2') format('woff2');
  font-display: swap;
}


html {
  scroll-behavior: smooth;
}


@import "tailwindcss";
